body{
    background-color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

a{
    color: #ff0000;
}

h2{
    color: rgb(0, 255, 34);
}

h1{
    font-size: 70px;
}

.food-img{
    margin: 0px auto;
}

.lefty{
    text-align: left;
    align-items: left;
}